#ssCarousel.carousel.slide.h-100.ss-carousel{"data-bs-ride" => "carousel"}
  .carousel-inner.h-100
    .carousel-item.active
      %div.d-flex
        %div.heading-box
          %h1.carousel-heading.mb-0.pt-5.fw-bold Install water meters in every apartment
        %div.flex-1.d-flex.align-items-center.justify-content-center
          = image_tag("building-slider", :alt => "slider", :class => "carousel-slider-img")
    .carousel-item
      %div.d-flex
        %div.heading-box
          %h1.carousel-heading.mb-0.pt-5.fw-bold Comprehensive water management dashboard
        %div.flex-1.d-flex.align-items-center.justify-content-center
          = image_tag("comperhensive-slider", :alt => "slider", :class => "carousel-slider-img")
    .carousel-item
      %div.d-flex
        %div.heading-box
          %h1.carousel-heading.mb-0.pt-5.fw-bold Real-time water leakage alerts
        %div.flex-1.d-flex.align-items-center.justify-content-center
          = image_tag("real-time-slider", :alt => "slider", :class => "carousel-slider-img")
    .carousel-item
      %div.d-flex
        %div.heading-box
          %h1.carousel-heading.mb-0.pt-5.fw-bold Dependable and remotely operable control valve
        %div.flex-1.d-flex.align-items-center.justify-content-center
          = image_tag("remote-control-slider", :alt => "slider", :class => "carousel-slider-img")
    .carousel-item
      %div.d-flex
        %div.heading-box
          %h1.carousel-heading.mb-0.pt-5.fw-bold Daily health diagnostics of the complete system
        %div.flex-1.d-flex.align-items-center.justify-content-center
          = image_tag("dignostics-slider", :alt => "slider", :class => "carousel-slider-img")              
