%div.ss-page-content.d-flex.flex-column.flex-1
  .card.ss-card.border-0.flex-1
    .card-body.d-grid.gap-5.p-5
      %div
        %h2.fw-bold.text-primary.mb-4 Clients
        .row.justify-content-between
          .col
            = image_tag("embassy", :alt => "mobile", class: "p-3 w-30")
            = image_tag("gmr", :alt => "mobile", class: "p-3 w-30")
            = image_tag("windchimes", :alt => "mobile", class: "p-3 w-30")
            = image_tag("gtc", :alt => "mobile", class: "p-3 w-30")
            = image_tag("hilife", :alt => "mobile", class: "p-3 w-30")
            = image_tag("ace", :alt => "mobile", class: "p-3 w-30")
            = image_tag("abacus", :alt => "mobile", class: "p-3 w-30")
            = image_tag("alliance", :alt => "mobile", class: "p-3 w-30")
            = image_tag("capitaland", :alt => "mobile", class: "p-3 w-30")
            = image_tag("manas", :alt => "mobile", class: "p-3 w-30")
            = image_tag("prasannatech", :alt => "mobile", class: "p-3 w-30")
            = image_tag("pride", :alt => "mobile", class: "p-3 w-30")
            = image_tag("padmaj", :alt => "mobile", class: "p-3 w-30")
            = image_tag("ums", :alt => "mobile", class: "p-3 w-30")
            = image_tag("urdhvam", :alt => "mobile", class: "p-3 w-30")
            = image_tag("scrum", :alt => "mobile", class: "p-3 w-30")
